@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url(./fonts/LeagueSpartan-Bold.otf);
}
* {
  font-family: 'Noto Sans KR', sans-serif;
}

.navbar__logo a {
  font-family: 'LeagueSpartan-Bold';
  font-size: 16px;
  text-decoration: none;
  color: black;
}
